main {
    background-color: #fff;
}

.main-inner-div {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 600px;
    height: 100vh;
    h2 {
        color: #1f1f1f;
        font-size: 28px;
        font-weight: 400;
        margin-top: 5px;
        padding: 10px;
    }
    h3 {
        display: inline-block;
        color: #363795;
        font-size: 24px;
        font-weight: 400;
        border-bottom: 2px solid #363795;
    }
    img {
        border-radius: 50%;
        width: 256px;
        margin: 10px auto;
        pointer-events: none;
    }
}

.profile-div {
    position: relative;
}
.thumbnail {
    filter: blur(2px);
}

.picture {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}

.hide {
    visibility: hidden;
    opacity: 0;
}

.show {
    visibility: visible;
    opacity: 1;
}

.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin-top: 15px;
    a {
        color: #1f1f1f;
        text-decoration: none;
        font-size: 0;
    }
    i {
        margin: 10px;
        font-size: 36px;
        cursor: pointer;
    }
    i:hover {
        color: #363795;
        transition: 0.2s;
    }
}

@media screen and (max-width: 1369px) {
    .main-inner-div {
        img {
            width: 226px;
        }
    }
}

@media screen and (max-width: 480px) {
    .main-inner-div {
        img {
            width: 200px;
        }
        h2 {
            font-size: 24px;
        }
        h3 {
            font-size: 20px;
        }
    }
}
