.about-section {
  max-width: 1280px;
  margin: 0 auto;
  padding: 55px 20px 75px 20px;
  text-align: center;
}

.about-section h2 {
  text-align: center;
  margin: 25px auto 5px auto;
  padding: 20px 0;
  font-size: 32px;
  font-weight: 500;
  text-transform: uppercase;
}

.about-section .skills-title {
  display: inline-block;
  text-align: center;
  margin: 5px auto 25px auto;
  font-size: 24px;
  font-weight: 400;
}

.about-section p {
  font-size: 20px;
}

.about-section a {
  display: inline-block;
  margin: 35px auto;
  font-size: 22px;
  font-weight: 600;
  text-decoration: none;
  padding: 5px 25px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  cursor: pointer;
}

.about-section ul {
  list-style: none;
}

.information-div ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 15px;
}

.info-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 400px;
  max-width: 400px;
  -webkit-box-shadow: 0px 0px 5px 0px #000;
          box-shadow: 0px 0px 5px 0px #000;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
}

.info-block h4 {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 5px;
}

.info-block i {
  font-size: 24px;
  margin-right: 7.5px;
}

.contact-ul {
  text-align: center;
}

.contact-ul h4 {
  display: inline-block;
  font-size: 24px;
  font-weight: 400;
  margin: 5px auto;
}

.contact-ul li {
  margin: 5px auto;
  font-size: 20px;
  color: #656565;
}

.p-active {
  display: block;
}

.p-disabled {
  display: none;
}

@media screen and (max-width: 1025px) {
  .information-div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about-section p {
    font-size: 18px;
  }
  .about-section .skills-title {
    font-size: 22px;
  }
  .info-block h4 {
    font-size: 22px;
  }
  .info-block i {
    font-size: 22px;
  }
  .contact-ul h4 {
    font-size: 22px;
    margin-top: 20px;
  }
  .contact-ul li {
    font-size: 18px;
  }
}

@media screen and (max-width: 480px) {
  .about-section h2 {
    font-size: 28px;
  }
  .about-section p {
    font-size: 16px;
  }
  .about-section .skills-title {
    font-size: 20px;
  }
  .info-block h4 {
    font-size: 20px;
  }
  .info-block i {
    font-size: 20px;
  }
  .contact-ul {
    text-align: center;
  }
  .contact-ul h4 {
    font-size: 20px;
    margin-top: 20px;
  }
  .contact-ul li {
    font-size: 16px;
  }
}
/*# sourceMappingURL=About.css.map */